Repository bcgov/citz-dss-dbumt, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Docker, Dependencies, Documentation

update env template
  env-template.txt
Labels: none

update documentation
  README.md
  backend/README.md
  backend/src/index.ts
  backend/src/middleware/database.ts
  package.json
Labels: Dependencies, Documentation

more documentation updates
  backend/README.md
  backend/src/middleware/database.ts
Labels: Documentation

spelling
  backend/src/middleware/database.ts
Labels: none

formatting updates
  backend/src/index.ts
  backend/src/middleware/database.ts
  backend/src/middleware/index.ts
Labels: none

add constants
  backend/src/constants/ansiCodes.ts
  backend/src/constants/index.ts
Labels: none

add logger
  backend/src/utilities/index.ts
  backend/src/utilities/logs.ts
Labels: none

use logger
  backend/src/index.ts
Labels: none

change text colour
  backend/src/utilities/logs.ts
Labels: none

.github/labeler.yaml:

# Auto Label Git Action Config
# https://github.com/marketplace/actions/labeler

#################
# Project

'Github Actions':
  - .github/workflows/**/*

Openshift:
  - openshift/**/*

Docker:
  - docker-compose.yml
  - '**/Dockerfile'

Dependencies:
  - '**/package.json'
  - '**/*.csproj'

Documentation:
  - '**/*.md'


#################
# Frontend
# to be added

################
# Backend
# to be added

#################
# Testing
# to be added
