Repository bcgov/citz-dss-dbumt, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Docker, Dependencies, Documentation

add workflow folder and pre labeller
  .github/workflows/pr-labeller.yml
Labels: Github Actions

add code owners
  .github/CODEOWNERS
Labels: none

update to issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

update location of pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

Updates to readmes
  .github/README.md
  README.md
Labels: Documentation

Init frontend
  .gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/prettierrc.cjs
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: Dependencies, Documentation

update prettier and eslint config files
  frontend/eslint.config.js
  frontend/prettierrc.cjs
Labels: none

Init Backend
  .env-template
  .gitignore
  backend/README.md
  backend/eslint.config.mjs
  backend/package.json
  backend/src/express.ts
  backend/src/index.ts
  backend/tsconfig.json
Labels: Dependencies, Documentation

update readme with new directory information
  README.md
Labels: Documentation

add directory information to readme
  frontend/README.md
Labels: Documentation

updated config files
  frontend/prettierrc.cjs
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Labels: none

add prettier configs to backend
  backend/.prettier.cjs
  backend/.prettierignore
Labels: none

update readme with directory
  backend/README.md
Labels: Documentation

update tsconfig
  backend/tsconfig.json
Labels: none

update readme
  frontend/README.md
Labels: Documentation

change eslint config to mjs to resolve error
  frontend/eslint.config.mjs
  frontend/tsconfig.json
Labels: none

ignore kong configs
  .gitignore
Labels: none

set root readme to display on main page
  .github/README.md
  README.md
Labels: Documentation

better way to ignore the files
  .gitignore
Labels: none

update how to get env variables
  .env-template
  backend/src/config/env.ts
  backend/src/config/index.ts
  env-template.txt
Labels: none

add compose and package.json to root for docker
  compose.yaml
  package.json
Labels: Dependencies

add mongodb
  backend/package.json
  backend/src/index.ts
  backend/src/middleware/database.ts
  backend/src/middleware/index.ts
Labels: Dependencies

Create backend dockerfile
  backend/Dockerfile
Labels: Docker

Create frontend dockerfile
  frontend/Dockerfile
Labels: Docker

Create docker-compose file
  docker-compose.yml
Labels: Docker

Edit dockerfile run command
  backend/Dockerfile
Labels: Docker

Update backend docker environment
  backend/Dockerfile
Labels: Docker

Remove unnecessary line from backend dockerfile
  backend/Dockerfile
Labels: Docker

Update backend dockerfile working directory
  backend/Dockerfile
Labels: Docker

Update docker-compose environment name
  docker-compose.yml
Labels: Docker

Update frontend docker environment
  frontend/Dockerfile
Labels: Docker

Remove unnecessary line from backend dockerfile
  backend/Dockerfile
Labels: Docker

Remove unnecessary line from frontend dockerfile
  frontend/Dockerfile
Labels: Docker

Update nginx version for performance
  frontend/Dockerfile
Labels: Docker

Update frontend/Dockerfile
  frontend/Dockerfile
Labels: Docker

Update docker-compose.yml
  docker-compose.yml
Labels: Docker

merge and update docker files
  compose.yaml
  docker-compose.yml
Labels: Docker

add another docker command
  package.json
Labels: Dependencies

remove mongoose from index.ts
  backend/src/index.ts
Labels: none

add connection function
  backend/src/config/env.ts
  backend/src/middleware/database.ts
Labels: none

.github/labeler.yaml:

# Auto Label Git Action Config
# https://github.com/marketplace/actions/labeler

#################
# Project

'Github Actions':
  - .github/workflows/**/*

Openshift:
  - openshift/**/*

Docker:
  - docker-compose.yml
  - '**/Dockerfile'

Dependencies:
  - '**/package.json'
  - '**/*.csproj'

Documentation:
  - '**/*.md'


#################
# Frontend
# to be added

################
# Backend
# to be added

#################
# Testing
# to be added
